#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 50px;
    background-color: #b2b2b2;
}

#loginBox{
    border: 2px solid black;
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 10%;
    padding: 25px;
    border-radius: 10px;
}

#loginTitle
{
    text-align: center;
    color : black
}

#loginName
{
    border-radius: 5px;
}

#login
{
    padding-left: 10px;
    padding-right: 10px;
}
html{
    height:100%;
}

@keyframes fade{
    from{opacity:0; scale:0;}
    to{opacity:1; scale:1;}
}

@keyframes fade2{
    from{opacity:0; scale:0;}
    to{opacity:1; scale:1}
}

body{
    background-image:linear-gradient(to top, #0B132B, #3A506B, #5ba0c0, #6fe2ff, #c3fff6);
    /*background-image:url(ocean.jpg);*/
    background-size:cover;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    font-size:100px;
    text-shadow:0px 6px 3px rgb(0, 0, 0, 0.5);
    margin-bottom:20px;
    animation-name:fade;
    animation-duration:3s;
    animation-fill-mode:forwards;
}

p{
    text-align:center;
    margin-bottom:5px;
}

.buttons{
    background-color:rgb(2, 158, 248);
    margin-bottom:10px;
    border-radius:6px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border-color:rgb(2, 158, 248);
    color:white;
    font-weight:bold;
}

.center{
    margin:auto;
    width:50%;
}

#paragraphDiv{
    padding-top:10px;
    padding-bottom:2px;
    padding-right:100px;
    padding-left:100px;
    border-radius:6px;
    color:rgb(85, 83, 83);
    background-color:white;
    margin-top:0px;
    width:500px;
    animation-name:fade2;
    animation-duration:3s;
    animation-delay:1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}